.MainComponent{
  height:100%;
  color:grey;
  color:#FF6060;
  display:flex;
  flex-direction: column;
  justify-content:space-between; 
  align-items:center;
  flex:1;
  margin:100px;
  
}

.MainComponentMsg{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:25px;
}

.ErrorType{
  font-size:160px;
}

.Backlink{
  margin:50px 0;
  color:#ff6060; 

}
.BackLink:visited{
 color:#FF6060;  
 

}

@media  (max-width:425px){

.MainComponent{
  margin:0 20px;
  justify-content:space-around;
  align-items:center;
}

.MainComponentMsg{
  display:flex;
  justify-content:center;
  align-items:center;
}

.oups{
  text-align:center;
  font-size:16px;
  width:90%
}
}