.mainHomePage{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:stretch;
  flex:1;
  padding-top:0px;

}

.fullContainer{
  margin: 40px 0;
  padding:10px;
  background-color:#F6F6F6;
  border-radius:15px;
  padding-bottom:15px;


}

.cardsContainer{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:20px;
  
}

@media (max-width: 1240px){
  .fullContainer{
    border-radius:unset;;
  }
}

@media (max-width:425px){
  .fullContainer{
    background-color:white;
    margin:0 20px;
    padding:0;
  }

  .cardsContainer{
  margin-top:20px;
    padding:0;
  flex-wrap:nowrap;
  flex-direction:column;
  }
}


