.equipContainer{
  border:1ps solid black;
  width:50%
}

.button{
  width:100%;
}

.button{
  width:100%;
}

.equipmentsList{
  background-color: darkgrey;
  
}

.equipmentsList.on{
  display:flex;
}

.equipmentsList.off{
  display:none;
}