.host {
  display: flex;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  display: flex;
}
.location {
  display: flex;
}
.hostInfos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hostName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 20px;
}

.hostName p {
  text-align: end;
}

.hostPicture {
  display: flex;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.tag {
  margin: 10px;
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ff6060;
  color: white;
}

.rating {
  display: flex;
}
