.container{
  display:flex;
  width:100%;
  max-width:100%;
  background-color: black;
  flex-direction:column;
  justify-content:center;;
  align-items:center;
  color:white;
  position:-webkit-sticky;
  position:sticky;
  bottom:0;
  

  
}

.Logo{
  height:40px;
  margin:25px auto;
}

.Copyrights{
  margin-bottom:25px;
  color:white;
}